{% extends 'layoutadmin.html.twig' %}
{% block title %} Eco System {% endblock %}

{% block Containt %}

    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1549984893" />
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>

    <style>
        /*  #map {
              height: 700px;
              width: 100%;
              background-color: grey;
          }*/

        div.container {
            padding: 10px;
            /* background: rgba(242,246,248,1);*/
        }
        div#map {
            width: 100%;
            height: 400px;
        }
    </style>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Details point collecte
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('homepageadmin') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li><a href="{{ path('showLocationData') }}">Gestion point de collecte</a></li>
                <li class="active">Detais point collecte</li>
            </ol>
        </section>
        <section class="content">

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Visualiser adresse point de collecte</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4">

                            <div class="form-group">
                                <label for="form-name">Nom point collecte: </label>
                            <p>{{ locationPoint.name}}</p>
                            </div>
                            <div class="form-group">
                                <label for="form-name">Longitude: </label>
                            <p>{{ locationPoint.lat}}</p>
                            </div>
                            <div class="form-group">
                                <label for="form-name">Latitude: </label>
                            <p>{{ locationPoint.lng}}</p>
                            </div>
                            <div class="form-group">
                                <label for="form-name">Adresse: </label>
                            <p>{{ locationPoint.address}}</p>
                            </div>
                            <div class="form-group">
                                <label for="form-name">Type point de collecte: </label>
                            <p>{{ locationPoint.typePointCollect}}</p>
                            </div>
                        </div>

                        <div class="col-md-8">
                <div id="map"></div>

            </div>
                    </div>

                    <!-- /.col -->
                </div>
                <!-- /.row -->

            <!-- /.box-body -->
            <div class="box-footer">
                <!--  Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about
                  the plugin.-->
                <a href="{{ path('showLocationData') }}">retour</a>
            </div>

            </div>

    </section>

</div>


    <script type="text/javascript" src="scripts/index.js"></script>


    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAchXF7TnN6vtEMPdQKby_8rm1V6hK08TE&callback=initMap">
    </script>

    <script  type="text/javascript" charset="UTF-8" >











        function initMap() {

            var locations=[];


            {% set markers = [] %}



            {% set markers = markers|merge(

            {
            "title": locationPoint.name,
            "lat": locationPoint.lat,
            "lng": locationPoint.lng,
            "description": locationPoint.address

            }


            )
            %}

            locations.push([
                '{{ markers.title  }}',
                '{{ markers.lat }}',
                '{{ markers.lng }}',
                '{{ markers.description }}'

            ]);



            var center = {lat: 36.8374946 , lng: 10.1927389};



            /*  var locations = [
             ['Philz Coffee<br>\
             801 S Hope St A, Los Angeles, CA 90017<br>\
             <a href="https://goo.gl/maps/L8ETMBt7cRA2">Get Directions</a>',   34.046438, -118.259653],
             ['Philz Coffee<br>\
             525 Santa Monica Blvd, Santa Monica, CA 90401<br>\
             <a href="https://goo.gl/maps/PY1abQhuW9C2">Get Directions</a>', 34.017951, -118.493567],
             ['Philz Coffee<br>\
             146 South Lake Avenue #106, At Shoppers Lane, Pasadena, CA 91101<br>\
             <a href="https://goo.gl/maps/eUmyNuMyYNN2">Get Directions</a>', 34.143073, -118.132040],
             ['Philz Coffee<br>\
             21016 Pacific Coast Hwy, Huntington Beach, CA 92648<br>\
             <a href="https://goo.gl/maps/Cp2TZoeGCXw">Get Directions</a>', 33.655199, -117.998640],
             ['Philz Coffee<br>\
             252 S Brand Blvd, Glendale, CA 91204<br>\
             <a href="https://goo.gl/maps/WDr2ef3ccVz">Get Directions</a>', 34.142823, -118.254569]
             ];
             */

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 9,
                center: center
            });
            var infowindow =  new google.maps.InfoWindow({});
            var marker, count;
            for (count = 0; count < locations.length; count++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[count][1], locations[count][2]),
                    map: map,
                    title: locations[count][0]+"<br/>"+ locations[count][3]+"<br/>"+locations[count][4],

                });

                navigator.geolocation.getCurrentPosition(function(position) {
                    var geolocate = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    marker1 = new google.maps.Marker({
                        position: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
                        map: map,
                        title: "Ma position",
                        icon: {
                            url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
                        }
                    });

                    google.maps.event.addListener(marker1, "click", function (e) {
                        var infoWindow = new google.maps.InfoWindow();
                        infoWindow.setContent(marker1.title);
                        infoWindow.open(map, marker1);
                    });
                    map.setCenter(geolocate);
                });




                google.maps.event.addListener(marker, 'click', (function (marker, count) {
                    return function () {
                        infowindow.setContent(locations[count][0]+"<br/><span style='font-size:14px;font-weight:bold'>Adresse: </span>" + locations[count][3]
                            +"<br/><span style='font-size:14px;font-weight:bold'><a href='https://www.google.com/maps/dir//" + locations[count][1] + "," +locations[count][2]+ "/'/>Itinéraire: voir chemin </a></span> ");
                        infowindow.open(map, marker);


                    }
                })(marker, count));


            }






        }
    </script>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>


{% endblock %}